
CLOUDINARY_CLOUD_NAME=dvugnlvxt
CLOUDINARY_API_KEY=342426586457341
CLOUDINARY_API_SECRET=ITjs6HJJB3HbHvLfT1qdv-X9e7Q

MONGODB_URI=mongodb+srv://egma-prodemand-db:prodemand%401122@egma-prodemand-db.ufg96wg.mongodb.net/prodemand_db?appName=egma-prodemand-db
DATABASE_NAME=prodemand_db
